.ourhead {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
}
.ourhead h4 {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ACA592;
}
.ourhead h1 {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 1px;
  color: #ffae2b;
}
.ourcard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 90px;
}
.sercard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  padding: 60px;
  border: 1px solid #4B4136;
}
.rotet {
    transition: all 0.7s;
}
.sercard:hover .rotet {
    transform: rotate(360deg);
}
.sercard h3 {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #ffae2b;
  margin-top: 20px;
}
.sercard h5 {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;
    color: #ACA592; 
}



/* Responsive  */
@media screen and (max-width: 1024px) {
  .ourhead {
    padding-top: 100px;
    padding-bottom: 190px;
  }
  .ourhead h4 {
    font-size: 10px;
  }
  .ourhead h1 {
    font-size: 62px;
  }
}
@media screen and (max-width: 992px) {
  .ourhead {
    padding-top: 60px;
    padding-bottom: 140px;
  }
  .ourhead h4 {
    font-size: 8px;
  }
  .ourhead h1 {
    font-size: 52px;
    line-height: 60px;
  }
  .tpage_item {
    padding-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .ourhead {
    padding-top: 40px;
    padding-bottom: 100px;
  }
  .ourhead h4 {
    font-size: 6px;
  }
  .ourhead h1 {
    font-size: 42px;
  }
}
@media screen and (max-width: 576px) {
  .ourhead {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  .ourhead h4 {
    font-size: 6px;
  }
  .ourhead h1 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width: 400px) {
  .ourhead {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .ourhead h4 {
    font-size: 4px;
    line-height: 1px;
  }
  .ourhead h1 {
    font-size: 25px;
    line-height: 30px;
  }
  .rotet {
    width: 35px;
  }
  .sercard {
    padding: 30px;
    align-items: center;
    padding: 40px;
  }
  .sercard h5 {
    text-align: center;
    line-height: 13px;
  }
  .sercard h3 {
    font-size: 19px;
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .ourhead {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .ourhead h4 {
    font-size: 2px;
    line-height: 1px;
  }
  .ourhead h1 {
    font-size: 15px;
    line-height: 20px;
  }
}
